# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.egg

# Env secrets
.env

# Storage (don't commit indexes or uploaded files)
storage/
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Docker
*.log